@font-face {
  font-family: 'MyFont-light';
  src: url('fonts/Pinar-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'MyFont-bold';
  src: url('fonts/Pinar-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MyFont-medium';
  src: url('fonts/Pinar-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'MyFont-semiBold';
  src: url('fonts/Pinar-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'MyFont-Regular';
  src: url('fonts/Pinar-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MyFont-balck';
  src: url('fonts/Pinar-Black.woff2') format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
    font-family: 'MyFont',sans-serif;
}



.nav-bar {
  position: relative;
  margin-top: 20px;
  width: 28%;
  height: 52px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;


  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);


  border: none;
}

.nav-bar::before {
  content: '';
  position: absolute;
  inset: -1.5px; /* معادل top/left/right/bottom: -2px */
  border-radius: 50px;
  background: linear-gradient(to right, #0009FF, white, #0009FF);
  padding: 1.5px; /* ضخامت border */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 45px;
    margin-right: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(0, 0, 255, 1);
  box-shadow: 0 0 80px 30px rgba(0, 0, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: blur(200px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-style img{
  margin-top: -19%;
  animation: float 2s ease-in-out infinite;
}    
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}


.home-style1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.home-style1 button {
  bottom: 15rem;
  position: relative;
  padding: 8px 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  overflow: hidden;
}

/* لایهٔ border گرادیانتی */
.home-style1 button::before {
  content: '';
  position: absolute;
  inset: -1.5px;
  border-radius: 50px;
  background: linear-gradient(to right, #0009FF, white, #0009FF);
  padding: 2.75px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

/* نقطهٔ آبی در ابتدای متن */
.home-style1 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #0009FF;
  border-radius: 50%;
  margin-left: 10px; /* فاصله از متن */
  vertical-align: middle;
  margin-bottom: 3%;
}

.home-style1 a {
  text-decoration: none;
  color: inherit;
  font-family: 'MyFont-light', sans-serif;
}

.home-style2 {
  display: flex;
  justify-content: center;
}

.home-style2 h1 {
  color: white;
  font-size: 75px;
  text-align: center;
  font-family: 'MyFont-balck', sans-serif;
  line-height: 1.5;
  margin-top: -10%;
  background: linear-gradient(to right, #0009FF, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

.home-style3 {
  display: flex;
  justify-content: center;
}

.home-style3 .p-style{
  color: white;
  font-family: 'MyFont-light', sans-serif;
  margin-top: 10px;
}

.home-style4 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.icon-style-2{
  justify-self: end;
}

.circle-2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(0, 0, 255, 1);
  box-shadow: 0 0 80px 30px rgba(0, 0, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: blur(200px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.icon-style-2 img{
  width: 300px;
  margin-top: -27rem;
  animation: float 2s ease-in-out infinite;
  
}    
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}


.home-style5 {
  display: flex;
  justify-content: center;
  margin-top: -20%;
}

.mini-circle{
  width: 74px;
  height: 80px;
  border-radius: 50%;
  background: rgba(47, 47, 47, 0.45);
}

.buttom-style {
  background-color: #2F2F2F;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  animation: bounce 2s infinite;
  margin-top: 27%;
  border: none;
  cursor: pointer;
}

.buttom-style i{
  color: white;
  font-size: 30px;
  position: relative;
  
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}